.navBarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .leftOptions,
  .rightOptions {
    display: flex;
    gap: 0.25rem;
  }

  .appTitle {
    letter-spacing: 1.5px;
    .initials {
      font-size: 1.2rem;
      background-color: #242424;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      text-align: center;
      border-radius: 4px;
      // padding: 0.01rem 0.35rem;
      background-color: green;
      background-color: #627254;
      position: relative;
      animation-name: crawl;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      height: 0;
      width: 0;
      opacity: 0;
    }

    @keyframes crawl {
      0% {
        height: 0;
        width: 0;
        opacity: 1;
        left: -150px;
        transform: rotateZ(0deg);
      }
      // Get Height and width in 20% of animation. This will also space-out the rest of the text simultaneously
      20% {
        height: 2rem;
        width: 2rem;
        opacity: 1;
        left: -150px;
        transform: rotateZ(72deg);
      }

      85% {
        opacity: 1;
        height: 2rem;
        width: 2rem;
        left: 10px;
        transform: rotateZ(390deg);
      }
      100% {
        left: 0;
        opacity: 1;
        height: 2rem;
        width: 2rem;
        transform: rotateZ(360deg);
      }
    }
  }
}

.navBarContainer button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #555;
  }
}
