.allFilesContainer {
  .headingContainer {
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      all: unset;
      cursor: pointer;
      border: none;
      text-align: center;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.2rem;
      border-radius: 50%;
      color: #eee;
      background-color: #555;
    }
  }
  padding: 0.5rem;
  .allFilesList {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;

    .noteFileContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      border-radius: 4px;
      padding-left: 0.25rem;

      li {
        list-style: none;
        padding: 0.1rem;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 4px;
        width: inherit;
        cursor: pointer;
        flex-grow: 1;
        // background-color: #111;
        color: #fff;
        // background-color: green;

        &:hover {
          // background-color: #333;
          // opacity: 0.25;
        }
      }

      .deleteIcon {
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        visibility: hidden;
        pointer-events: none;
        border-radius: 4px;

        &:hover {
          background-color: #555;
        }
      }

      //For main container
      &:hover {
        background-color: #333;
      }

      //Delete button visible  when hovered on note
      &:hover .deleteIcon {
        visibility: visible;
        pointer-events: all;
      }
    }
  }
}
